[alias]
	a = add
	c = commit
	s = status
	f = fetch
	b = branch
	rb = rebase
	ch = checkout
	prune = git remote update origin --prune
	please = push --force-with-lease

[fetch]
	prune = true

# Everything below is included for compatibility with `delta`
# https://github.com/dandavison/delta
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
